.pagination__style {
  background-color: $dark-violet;
  color: turquoise;
}
.pagination__style > li > a {
  background-color: $dark-violet;
  color: turquoise;
}

.pagination > li > a {
  background-color: $dark-violet;
  color: turquoise;
}

.pagination__style > li > a:focus,
.pagination__style > li > a:hover,
.pagination__style > li > span:focus,
.pagination__style > li > span:hover {
  color: turquoise;
  background-color: lighten($dark-violet, 10%);
  border-color: #ddd;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: turquoise;
  background-color: lighten($dark-violet, 10%);
  border-color: #ddd;
}

.page-link:hover {
  background-color: lighten($dark-violet, 10%);
  color: turquoise;
}
