.card-details {
  color: lighten($light-violet, 20%);
  background: darken($dark-violet, 10%);
;

  p {
    font-size: 1.2rem;
    padding-top: 10px
  }
}
.card-container{
  width: 18%;
  margin: 0 1%
}

.picture {
  border-bottom: 1px solid turquoise;
}

@media (max-width:900px) {
  .card-container{
    width: 22%;
    margin: 0 1%
  }
}

@media (max-width:600px) {
  .card-container{
    width: 40%;
    margin: 0 1%;
    align-self: center;
  }
}