html {
  font-size: 62.5%;
}

body {
  background-color: #333745;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
  font-size: 2rem;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 0.5rem;
}

button:disabled {
  cursor: default;
}

.card-width {
  width: 20%;
  color: black
}