html {
  font-size: 62.5%;
}

body {
  background-color: $dark-violet;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
  font-size: 2rem;
  color: white;
}

.cards-alignment {
  margin: 0 20% 0 20%;
}
