//Colors
$light-violet: #a5afd7;
$dark-violet: #333745;
$accent-color: #9e9e9e;
$primary-text-color: #212121;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$desktop-breakpoint: 45rem;
